/* @import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	/* font-family: 'Pathway Extreme', sans-serif; */
	font-family: 'Raleway', sans-serif;
}
a{
	text-decoration:none;
	color:white;
}
h3{
	font-size:18px;
	font-weight:700;
}
#container{
	width:100%;
	
}
h1{
	color: rgb(18,69,118);
    font-size: 30px;
    font-weight: 700;
}
.para p {
    font-weight: 500;
    font-size: 14px;
    font-style: italic;
    color: rgba(70,70,70,255);
    letter-spacing: 0.4px;
	line-height: 23px;
}
.sec1{
	width:90%;
	margin:0 auto;
	padding:20px;
	margin-top:30px;
}
#container .sec1 .para{
	text-align:center;
}
.sec2{
	display:flex;
	margin:0 auto;
	padding:50px;
	padding: 5px 0px;
	
}
.sec2{
	width:90%;
	margin:0 auto;
	justify-content:space-around;
}
.list{
	position:relative;
	width: 23%;
    text-align: center;
    line-height: 40px;
    box-shadow: 0 0 1px #7d7c7c8a;
    border-radius: 5px;
	overflow:hidden;

}
.head {
	position:relative;
    padding: 8px;
    background-color: rgb(242 242 242);
    border-radius: 2px 2px 0 0;
	color:rgb(68 124 178);
}
.head:hover{
	background-color: rgb(9,128,231);
	color:white;
	transition:all 0.6s ease;
}
.btn {
    padding: 8px;
    background-color: rgb(242 242 242);
    border-radius:0 0 2px 2px;
	margin: 30px 0px 0px 0px;
}
.money{
	color:rgb(12,122,221);
	font-size: 34px;
    font-weight: 600;
    font-family: sans-serif;
	padding: 15px 0px 0px 0px;
}
sup{
	font-size:18px;
	font-weight:700;
}
sub{
	font-size:16px;
	font-weight: 400;
	color: rgb(172 172 172);
}
.btn a{
    padding: 9px 25px;
    background: rgb(8,128,233);
    border: none;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
}
.btn a:hover{
	background-color:blue;
	transition:all 0.3s ease;
}
.para2{
    background-color: rgb(11,127,227);
    position: absolute;
    width: 179px;
    height: 28px;
    padding: 0px 0px 0px 4px;
    transform: rotate(40deg);
    top: 14px;
    right: -50px;
}
.para2 p {
    color: white;
}
.line-through{
	text-decoration-line:line-through;
	color: rgb(213,213,213);
}
p {
    font-size: 13px;
    color: rgba(70,70,70,255);
    font-weight: 500;
	line-height: 30px;
}